.swiper {
  width: 100%;
  height: auto;
}

/* ........................................... */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #004dff !important;
}

/* .............................................. */

.productImg {
  position: relative;
  height: 140px;
  width: 200px;
}

/* ......................Wisth button css start.......................... */
.productCrdBtn {
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 5px;
  top: 10px;
  background-color: rgb(253, 253, 253);
  color: #3874ff;
}

.productCrdBtn:hover {
  background-color:#3874ff;
}

.filledIcon {
  position: absolute;
  display: block;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  top: 0;
}

.filledIcon:hover {
  display: none;
}

.filledIcon:active {
  display: none;
}
.unFilledIcon {
  position: absolute;
  padding: 0.5rem;
  color:#3874ff;
  top: 0;
  left: 0;
}
/* ......................Wisth button css End.......................... */

.card-body .title {
  font-size: 14px;
}

.oldPrice {
  color: rgba(0, 0, 0, 0.699);
}

.newPrice {
  font-size: 35px;
  font-weight: 800;
  color: black;
}

.Description {
  color: rgb(88, 82, 82);
}

.rating {
  color: rgb(255, 123, 0);
}

.Allrating {
  color: rgb(90, 87, 87);
  margin-right: 5px;
}

.swiper-wrapper {
  translate: translate3d(0px, 0px, 0px) !important;
}


/*...................... Swiper Navigation button start...................... */

.swiper-button-prev {
  color: black;
  font-size: 22px;
  height: 33px !important;
  width: 33px !important;
  border: 1px solid #00000033;
  border-radius: 50%;
  padding: 8.8px;
  margin-left: -10px;
  background-color: white;
}


.swiper-button-prev:hover {
  color: rgba(0, 0, 0, 0.781);
}


.swiper-button-prev::after {
  color: black;
  font-size: 12.7px;
  font-weight: 900;
  padding: 3px;
  background-color: white;
  border-color: #000000b8;
}

.swiper-button-next {
  color: black;
  font-size: 22px;
  height: 33px !important;
  width: 33px !important;
  border: 1px solid #00000033;
  border-radius: 50%;
  padding: 8.8px;
  margin-right: -10px;
  background-color: white;
}


.swiper-button-next:hover {
  color: rgba(0, 0, 0, 0.781);
}

.swiper-button-next::after {
  color: black;
  font-size: 12.7px;
  font-weight: 900;
  padding: 3px;
  background-color: white;
  border-color: #000000b8;
}

/*...................... Swiper Navigation button end...................... */